{% extends 'base.html' %}
{% load staticfiles %}
{% block page_head %}
    <link href="{% static 'bigday/css/invitation.css' %}" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Julius+Sans+One' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Tangerine' rel='stylesheet'>
{% endblock %}
{% block page_content %}
    <div class="container">
        <section class="col-sm-8 col-sm-offset-2 text-center" style="background-color: rgba(255,255,255,0.5); padding-bottom: 25px;">
            <div id="invitation-details" style="font-family: 'Julius Sans One', sans-serif; font-size: 20px; padding-top: 50px;">
	    <h4>Together with their families</h4> 
            <h2 style="font-family: tangerine; font-size: 60px;">Alysa Fukunaga</h2> 
	    and 
            <h2 style="font-family: tangerine; font-size: 60px;">Brandon Krull</h2> 
            <p class="lead text-center" style="width: 75%; margin: auto;">
		Invite you to celebrate their marriage<br><br>
		Friday, March 30th, 2018<br>
		at four thirty in the afternoon<br>
                <h3 style="font-weight: bolder;">The Colony House</h3>
		401 N Anaheim Blvd<br>
                Anaheim, California<br><br>
		Dinner and Festivities to follow <br><br>
		Please RSVP below by February 25th<br><br>
		<a class="h3" href="http://afbk.love">afbk.love</a>
            </p>
            </div>
	</section>
    </div>
    <br> <br>
    <div class="container" style="border-top: 15px;">
        <section class="col-sm-8 col-sm-offset-2 text-center" style="background-color: rgba(255,255,255,0.5); padding-bottom: 15px; border-bottom: 50px;">
            <div id="invitation-details" style="font-family: 'Julius Sans One', sans-serif; font-size: 14px;">
            <form data-toggle="validator" id="rsvp-details" class="form-horizontal" method="post"><!-- style="display: none;">-->
                <div class="clearfix"></div>
                {% csrf_token %}
                {% for guest in party.ordered_guests.all %}
                <div class="form-group" data-is-child="{{ guest.is_child }}">
                    {% with 'attending-'|add:guest.unique_id as attending_label %}
                    <div class="row">
                    <label class="h3" for="{{ attending_label }}" class="col-sm-6 col-sm-offset-3">{{ guest.name }}</label>
                    </div>

                    <div class="row">
                    <label class="radio-inline">
                        <input class="attending-radio" type="radio" name="{{ attending_label }}" value="yes" {% if guest.is_attending %}checked="checked"{% endif %} required> will attend
                    </label>
                    <label class="radio-inline">
                        <input class="attending-radio" type="radio" name="{{ attending_label }}" value="no" {% if guest.is_attending == False %}checked="checked"{% endif %} required> will not attend
                    </label>
                    </div>
                    {% endwith %}
                </div>
                {% endfor %}
                <div class="form-group">
                    <input type="text" name="comments" class="form-control" style="width: 80%; margin: 0 auto;"placeholder="Dietary restrictions? Let us know!" >
                </div>
                <div class="form-group">
                    <div class="text-center">
                        <input type="submit" class="btn btn-default" value="Submit Response" />
                    </div>
                </div>
            </form>
        </section>
    </div>
{% endblock %}
{% block page_js %}
    <script src="{% static 'validator.js' %}"></script>
{% endblock %}
