{% extends 'base.html' %}
{% load staticfiles %}
{% block page_head %}
    <link href="{% static 'bigday/css/invitation.css' %}" rel="stylesheet">
{% endblock %}
{% block page_content %}
    <div class="container" style="position: fixed;">
        <section class="col-sm-6 col-sm-offset-3 text-center" style="background-color: rgba(255,255,255,0.5); padding-bottom: 15px;">
            <div id="invitation-details">
            <h2>Alysa and Brandon are getting married!</h2>
            <p class="lead">
                March 30th, 2018<br>
                {% if party.type == 'ceremony' %}
                Ceremony at 5:00pm<br>
                {% endif %}
                Dinner and Reception at 6:00pm<br>
                The Colony House<br>
                Anaheim, California
            </p>
            </div>
            <form data-toggle="validator" id="invitation-details" class="form-horizontal" method="post">
                <h2 id="rsvp-header" class="text-center">RSVP</h2>
                <div class="clearfix"></div>
                {% csrf_token %}
                {% for guest in party.ordered_guests.all %}
                <div class="form-group" data-is-child="{{ guest.is_child }}">
                    {% with 'attending-'|add:guest.unique_id as attending_label %}
                    <div class="row">
                    <label for="{{ attending_label }}" class="col-sm-6 col-sm-offset-3">{{ guest.name }}</label>
                    </div>

                    <div class="row">
                    <label class="radio-inline">
                        <input class="attending-radio" type="radio" name="{{ attending_label }}" value="yes" {% if guest.is_attending %}checked="checked"{% endif %} required> will attend
                    </label>
                    <label class="radio-inline">
                        <input class="attending-radio" type="radio" name="{{ attending_label }}" value="no" {% if guest.is_attending == False %}checked="checked"{% endif %} required> will not attend
                    </label>
                    </div>
                    {% endwith %}
                </div>
                {% endfor %}
                <div class="form-group">
                    <input type="text" name="comments" class="form-control" style="width: 80%; margin: 0 auto;"placeholder="Questions/comments/well wishes" >
                </div>
                <div class="form-group">
                    <div class="text-center">
                        <input type="submit" class="btn btn-default" value="Submit Response" />
                    </div>
                </div>
            </form>
        </section>
    </div>
{% endblock %}
{% block page_js %}
    <script src="{% static 'validator.js' %}"></script>
    <script>
    $(function () {
        // enable/disable meal choices based on attendance
        $("input.attending-radio").change(function (e) {
            var target = $(e.target);
            if (target.closest('.form-group').data('is-child') === "True") {
                // don't attempt to update meals for children, who don't have them.
                return;
            }
            var value = target.attr('value');
            var mealButtonContainer = target.closest('.form-group').next('.form-group');
            var mealButtons = mealButtonContainer.find('[type=radio]');
            if (value === 'yes') {
                mealButtonContainer.removeClass('text-muted');
                mealButtons.each(function (index, button) {
                    button.disabled = false;
                    button.required = true;
                });
            } else if (value === "no") {
                mealButtonContainer.addClass('text-muted');
                mealButtons.each(function (index, button) {
                    button.checked = false;
                    button.disabled = true;
                    button.required = false;
                });
            }
            // reload validation
            $(document.forms[0]).validator('destroy');
            $(document.forms[0]).validator();
        });
    });
    </script>
{% endblock %}
