{% extends 'guests/email_templates/email_base.html' %}
{% load staticfiles %}
{% block header_image %}
<table class="responsive-table" align="center" border="0" width="500"
        cellpadding="0" cellspacing="0">
    <tbody>
    <tr>
        <td align="center">
            <table border="0" width="100%" cellpadding="0"
                    cellspacing="0">
                <tbody>
                <tr>
                    <td align="center" bgcolor="#ffffff">
                        {% with "save-the-date/images/"|add:header_filename as header_filepath %}
                            <img src="{% if email_mode %}cid:{{ header_filename }}{% else %}{% static header_filepath %}{% endif %}"
                                    style="display: inline-block; align-content:center; font-size: 16px;"
                                    border="0"
                                    height="60" width="60">
                        {% endwith %}
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
{% endblock %}
{% block main_image %}
    <a href="http://afbk.love"
       {% if email_mode %}target="_blank"{% endif %}>
    {% with "save-the-date/images/"|add:main_image as main_static_url %}
        <img src="{% if email_mode %}cid:{{ main_image }}{% else %}{% static main_static_url %}{% endif %}"
             alt="alysa and brandon"
             style="display: block; padding: 0; color: #666666; text-decoration: none; font-size: 16px; height: 600px; width: 400px; margin: 0 auto;"
             class="img-max" border="0">
    {% endwith %}
    </a>
{% endblock %}
{% block main_copy %}
    <table border="0" width="100%" cellpadding="0" cellspacing="0">
        <tbody>
        <tr>
            <td style="padding: 20px 0 0 0; font-size: 16px; line-height: 20px; color: {{ font_color }}; text-align: center;">
                <br>
                <br>
                To enter the site use password: taco
                <br>
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}
{% block footer_content %}
    Can't make it? Let us know at <a class="moz-txt-link-abbreviated" href="mailto:rsvp@afbk.love">rsvp@afbk.love</a>.
    {% if email_mode %}
        <p><a href="http://afbk.love">http://afbk.love</a></p>
    {% endif %}
{% endblock %}
