{% extends "base.html" %}
{% load staticfiles %}
{% block page_head %}
<!-- Custom CSS -->
<link href="{% static 'bigday/css/creative.css' %}" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
{% endblock %}
{% block page_content %}
    {% block main %}
    <header id="home">
        <div class="header-content">
            <div class="header-content-inner">
            </div>
        </div>
        <div style="color: #fff; position: absolute; bottom: 0; right: 10px; text-align: right; font-weight: 200;">
            <h2>alysa m. fukunaga</h2>
            <h2>brandon t. krull</h2>
            <h2>3.30.2018</h2>
        </div>
    </header>
    {% endblock %}
{% endblock %}
{% block page_js %}
    <!-- Plugin JavaScript -->
    <!-- Easing is for the vertical scroll animations -->
    <script src="{% static 'creative/js/jquery.easing.min.js' %}"></script>
    <!-- Automatically fit text based on screen size.-->
    <script src="{% static 'creative/js/jquery.fittext.js' %}"></script>
    <!-- Custom Theme JavaScript -->
    <script src="{% static 'creative/js/creative.js' %}"></script>
{% endblock %}
